{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    <div class="article-content">
      {{ .Content }}
    </div> 
    
    <h2>Records</h2>
    
    {{ $slug := replace (replace .Path "/_index.md" "") "feature/" "" }}
    {{ $records := where (where .Site.Pages "Type" "record") "Params.feature" $slug }}
    
    {{ if $records }}
      {{ partial "record_list" $records }}
      
      <h2>Publications</h2>
      
      {{ $publications := partial "fun/records_publications" $records }}
      {{ if $publications }}
        {{ partial "publication_list" $publications }}
        
        <h2>People</h2>
        
        {{ $people := partial "fun/publications_people" $publications }}
        {{ partial "person_list" $people }}
        
      {{ else }}
        {{ partial "empty_list" "publications" }}
      {{ end }}
      
      <h2>Parameters</h2>
      
      {{ $parameters := partial "fun/records_parameters" $records }}
      {{ partial "parameter_list" $parameters }}
    
    {{ else }}
      {{ partial "empty_list" "records" }}
    {{ end }}
    
  </article>

</main>

{{ partial "footer.html" . }}
