{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    <div class="article-content">
      {{ .Content }}
    </div> 
    
    <h2>Publications</h2>
    
    {{ $slug := replace (replace .Path "/_index.md" "") "person/" "" }}
    {{ $publication_slugs := (slice) }}
    {{ $publications := where (where .Site.Pages "Type" "publication") "Params.people" "intersect" (slice $slug) }}

    <div class="publications person-publications">
      {{ range $publications }}
        {{ $publication_slugs = union $publication_slugs (slice (replace (replace .Path "/_index.md" "") "publication/" "")) }}
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ end }}
    </div>
    
    <h2>Records by feature</h2>
    
    {{ $records := where (where .Site.Pages "Type" "record") "Params.publications" "intersect" $publication_slugs }}
    {{ $parameters := (slice) }}
    {{ range $records.GroupByParam "feature" }}
      {{ $feature := site.GetPage (printf "/%s/%s" "feature" (.Key | urlize)) }}
      <div class="records publication-records">
        <a href="{{ $feature.RelPermalink }}">{{ $feature.Title }}</a>:
        {{ range .Pages }}
          {{ $parameters = union $parameters .Params.parameters }}
          <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      </div>
       
    {{ end }}
    
    <h2>Parameters</h2>
    
    <div class="parameters publication-parameters">
      {{ range $parameters }}
        {{ $parameter := site.GetPage (printf "/%s/%s" "parameter" (. | urlize)) }}
        {{ with $parameter }}
          <a href="{{ $parameter.RelPermalink }}">{{ $parameter.Title }}</a>
        {{ else }}
          {{ . }}
        {{ end }}
      {{ end }}
    </div>
  
  </article>

</main>

{{ partial "footer.html" . }}
