{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    <div class="article-content">
      {{ .Content }}
    </div> 
    
    <h2>Publications</h2>
    
    {{ $slug := replace (replace .Path "/_index.md" "") "person/" "" }}
    {{ $publications := where (where .Site.Pages "Type" "publication") "Params.people" "intersect" (slice $slug) }}
    
    {{ if $publications }}
      {{ partial "publication_list" $publications }}
      
      <h2>Records by feature</h2>
      
      {{ $publication_slugs := partial "publication_slugs" $publications }}
      {{ $records := where (where .Site.Pages "Type" "record") "Params.publications" "intersect" $publication_slugs }}
      
      {{ if $records }}
      
        {{ partial "records_by_feature" $records }}
        
        <h2>Parameters</h2>
        
        {{ $parameter_slugs := partial "record_parameters" $records }}
        {{ $parameters := where .Site.Pages "RelPermalink" "in" $parameter_slugs }}

        {{ partial "parameter_list" $parameters }}
        
      {{ else }}
        {{ partial "empty_list" "records" }}
      {{ end }}
    
    {{ else }}
      {{ partial "empty_list" "publications" }}
    {{ end }}
  
  </article>

</main>

{{ partial "footer.html" . }}
