{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>

    <div class="article-content">
      {{ .Content }}
    </div> 
    
    {{ $slug := replaceRE "/$" "" (replace (replace .Path "_index.md" "") "parameter/" "") }}
    {{ $records := where (where .Site.Pages "Type" "record") "Params.parameters" "intersect" (slice $slug) }}

    <h2>Records by feature</h2>
    
    {{ partial "records_by_feature" $records }}
    
    <h2>Publications</h2>
    
    {{ $pub_slugs := partial "record_publications" $records }}
    {{ $publications := where .Site.Pages "RelPermalink" "in" $pub_slugs }}
    
    {{ if $publications }}
    
      {{ partial "publication_list" $publications }}
      
    {{ else }}
    
      {{ partial "empty_list" "publications" }}
    
    {{ end }}
    
  </article>

</main>

{{ partial "footer.html" . }}
