
#id_geometry_map { 
  width: 100%;
  height: 100vh;
}

.olControlEditingToolbar .olControlModifyFeatureItemActive {
   background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%20847%20779%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23F1C02A%22%20d%3D%22M120%201h607c66%200%20120%2054%20120%20120v536c0%2066-54%20120-120%20120h-607c-66%200-120-54-120-120v-536c0-66%2054-120%20120-120z%22%2F%3E%3Cpath%20fill%3D%22%239E9E93%22%20d%3D%22M120%201h607c66%200%20120%2054%20120%20120v536c0%2066-54%20120-120%20120h-607c-66%200-120-54-120-120v-536c0-66%2054-120%20120-120zm607%2025h-607c-26%200-50%2011-67%2028-17%2018-28%2041-28%2067v536c0%2027%2011%2050%2028%2068%2017%2017%2041%2027%2067%2027h607c26%200%2049-10%2067-27%2017-18%2028-41%2028-68v-536c0-26-11-49-28-67-18-17-41-28-67-28z%22%2F%3E%3Cpath%20stroke%3D%22%23A9A8A4%22%20stroke-width%3D%2220%22%20d%3D%22M706%20295l-68%20281%22%2F%3E%3Cpath%20stroke%3D%22%23E47474%22%20stroke-width%3D%2220%22%20d%3D%22M316%20648l390-353M141%20435l175%20213%22%2F%3E%3Cpath%20stroke%3D%22%23C9A741%22%20stroke-width%3D%2220%22%20d%3D%22M319%20151l-178%20284M706%20295l-387-144%22%2F%3E%3Cg%20fill%3D%22%23040405%22%3E%3Cpath%20d%3D%22M319%20111c22%200%2040%2018%2040%2040s-18%2040-40%2040-40-18-40-40%2018-40%2040-40zM141%20395c22%200%2040%2018%2040%2040s-18%2040-40%2040c-23%200-41-18-41-40s18-40%2041-40zM316%20608c22%200%2040%2018%2040%2040%200%2023-18%2041-40%2041s-40-18-40-41c0-22%2018-40%2040-40zM706%20254c22%200%2040%2018%2040%2041%200%2022-18%2040-40%2040s-40-18-40-40c0-23%2018-41%2040-41zM638%20536c22%200%2040%2018%2040%2040s-18%2040-40%2040-40-18-40-40%2018-40%2040-40z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
   background-repeat: no-repeat;
}
.olControlEditingToolbar .olControlModifyFeatureItemInactive {
   background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2222%22%20viewBox%3D%220%200%20847%20779%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%3E%3Cpath%20fill%3D%22%23EBECE6%22%20d%3D%22M120%201h607c66%200%20120%2054%20120%20120v536c0%2066-54%20120-120%20120h-607c-66%200-120-54-120-120v-536c0-66%2054-120%20120-120z%22%2F%3E%3Cpath%20fill%3D%22%239E9E93%22%20d%3D%22M120%201h607c66%200%20120%2054%20120%20120v536c0%2066-54%20120-120%20120h-607c-66%200-120-54-120-120v-536c0-66%2054-120%20120-120zm607%2025h-607c-26%200-50%2011-67%2028-17%2018-28%2041-28%2067v536c0%2027%2011%2050%2028%2068%2017%2017%2041%2027%2067%2027h607c26%200%2049-10%2067-27%2017-18%2028-41%2028-68v-536c0-26-11-49-28-67-18-17-41-28-67-28z%22%2F%3E%3Cpath%20stroke%3D%22%23A9A8A4%22%20stroke-width%3D%2220%22%20d%3D%22M706%20295l-68%20281%22%2F%3E%3Cpath%20stroke%3D%22%23E47474%22%20stroke-width%3D%2220%22%20d%3D%22M316%20648l390-353M141%20435l175%20213%22%2F%3E%3Cpath%20stroke%3D%22%23C9C9C9%22%20stroke-width%3D%2220%22%20d%3D%22M319%20151l-178%20284M706%20295l-387-144%22%2F%3E%3Cg%20fill%3D%22%23040405%22%3E%3Cpath%20d%3D%22M319%20111c22%200%2040%2018%2040%2040s-18%2040-40%2040-40-18-40-40%2018-40%2040-40zM141%20395c22%200%2040%2018%2040%2040s-18%2040-40%2040c-23%200-41-18-41-40s18-40%2041-40zM316%20608c22%200%2040%2018%2040%2040%200%2023-18%2041-40%2041s-40-18-40-41c0-22%2018-40%2040-40zM706%20254c22%200%2040%2018%2040%2041%200%2022-18%2040-40%2040s-40-18-40-40c0-23%2018-41%2040-41zM638%20536c22%200%2040%2018%2040%2040s-18%2040-40%2040-40-18-40-40%2018-40%2040-40z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
   background-repeat: no-repeat;
}

#id_geometry_admin_map .olControlAttribution {
    position: absolute;
    top: 5px;
    left: 5px;
}

#id_geometry_admin_map_search_results {
    max-height: 200px;
    overflow-y: scroll;
}

#id_geometry_admin_map_search_results .error {
    color: #ba2121;
}

#id_geometry_actions {
  float: right;
}

#map_head_container {
  padding: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  z-index: 1000;
}

.container-fluid {
  padding: 0;
}

#shiny_debug {
  display: none;
}
