      <footer class="footer">
        <ul class="footer-links">
          <li>
            <a href="https://fishandwhistle.net" target="_blank">&copy;2020</a>
          </li>
          {{ if findRE "[.]md$" .Path }}
          <li>
            <a href="https://github.com/{{ .Site.Params.gitHubRepo }}/edit/master/content/{{ .Path }}" target="_blank">edit on GitHub</a>
          </li>
          {{ else }}
          <li>
            <a href="https://github.com/{{ .Site.Params.gitHubRepo }}" target="_blank">edit on GitHub</a>
          </li>
          {{ if .GitInfo }}
          <li>
            <a href="https://github.com/{{ .Site.Params.gitHubRepo }}/commit/{{ .GitInfo.Hash }}/content/{{ .Path }}">
              Last updated {{ .GitInfo.AuthorDate }}
            </a>
          </li>
          {{ end }}
          {{ end }}
        </ul>

      </footer>

    </div>
    {{ template "_internal/google_analytics.html" . }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.1/fuse.min.js" integrity="sha256-VzgmKYmhsGNNN4Ph1kMW+BjoYJM2jV5i4IlFoeZA9XI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js" integrity="sha256-4HLtjeVgH0eIB3aZ9mLYF6E8oU5chNdjU6p6rrXpl9U=" crossorigin="anonymous"></script>
    <script type="text/javascript">
      let strativerseIndexURI = {{ printf "/%s" (replace .Path "_index.md" "index.json") }};
    </script>
    <script src="/js/search.js"></script>
    <script src="/js/map.js"></script>
  </body>
</html>
