<aside class="search-results" id="search">
  <div class="container-search">
    <section class="search-header">
      <div id="search-box">
        <input name="q" id="search-query" placeholder="{{i18n "search_placeholder"}}" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" type="search" />
      </div>

    </section>
    <section class="section-search-results">

      <div id="search-hits">
        <!-- Search results will appear here -->
      </div>

    </section>
  </div>
</aside>
