{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>
    
    <div class="article-tags">
      {{ $feature := site.GetPage (printf "/%s/%s" "feature" (.Params.feature | urlize)) }}
      Collected from
      <a href="{{ $feature.RelPermalink }}">{{ $feature.Title }}</a>
    </div>

    <div class="article-content">
      {{ .Content }}
    </div> 
    
    <h2>Parameters</h2>
    
    <div class="parameters parameters-record">
      {{ range .Params.parameters }}
        {{ $parameter := site.GetPage (printf "/%s/%s" "parameter" (. | urlize)) }}
        {{ with $parameter }}
          <a href="{{ $parameter.RelPermalink }}">{{ $parameter.Title }}</a>
        {{ else }}
          {{ . }}
        {{ end }}
      {{ end }}
    </div>
    
    <h2>Publications</h2>
    
    {{ $publication_slugs := partial "record_publications" (slice .)}}
    {{ $publications := where .Site.Pages "RelPermalink" "in" $publication_slugs }}
    
    {{ if $publications }}
    
      {{ partial "publication_list" $publications }}
      
      <h2>People</h2>
      
      {{ $people_slugs := partial "publication_people" $publications }}
      {{ $people := where .Site.Pages "RelPermalink" "in" $people_slugs }}
      
      {{ partial "person_list" $people }}
      
    {{ else }}
      {{ partial "empty_list" "publications" }}
    {{ end }}
    
  </article>

</main>

{{ partial "footer.html" . }}
