{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>
    
    <div class="article-tags">
      {{ partial "fun/check_features" (slice .Params.feature) }}
      {{ $feature := site.GetPage (printf "/%s/%s" "feature" (.Params.feature | urlize)) }}
      Collected from
      <a href="{{ $feature.RelPermalink }}">{{ $feature.Title }}</a>
      <span class="article-date">{{ partial "record_collected" . }}</span>
    </div>

    <div class="article-content">
      {{ .Content }}
    </div> 
    
    <h2>Parameters</h2>
    {{ partial "fun/check_parameters" .Params.parameters }}
    {{ $parameters := partial "fun/records_parameters" (slice .) }}
    {{ if $parameters }}
      {{ partial "parameter_list" $parameters }}
    {{ else }}
      {{ partial "empty_list" "parameters" }}
    {{ end }}
    
    <h2>Publications</h2>
    {{ partial "fun/check_publications" .Params.publications }}
    {{ $publications := partial "fun/records_publications" (slice .) }}
    {{ if $publications }}
    
      {{ partial "publication_list" $publications }}
      
      <h2>People</h2>
      {{ $people := partial "fun/publications_people" $publications }}
      {{ partial "person_list" $people }}
      
    {{ else }}
      {{ partial "empty_list" "publications" }}
    {{ end }}
    
  </article>

</main>

{{ partial "footer.html" . }}
