{{ partial "header.html" . }}

<main class="content" role="main">

  <article class="article">

    <h1 class="article-title">{{ .Title }}</h1>
    
    {{ $taxonomy := "people" }}
    {{ $taxonomy_single := "person" }}
    {{ with .Param $taxonomy }}
    <div class="article-tags article-people">
      {{ range $index, $value := . }}
      {{ $term_page := site.GetPage (printf "/%s/%s" $taxonomy_single (. | urlize)) }}
      {{ $term_text := $term_page.Params.title | default ($value | markdownify) }}
      <a href="{{ $term_page.RelPermalink }}">{{ $term_text }}</a>
      {{ end }}
    
    {{ end }}
      <span class="article-date">{{ .Date.Format "2006" }}</span>
    </div>
    
    {{ if .Params.csl.DOI }}
    <div class="publication-link">
      <a href="https://doi.org/{{ .Params.csl.DOI }}" target="_blank">doi:{{ .Params.csl.DOI }}</a>
    </div>
    {{ else if .Params.csl.URL }}
    <div class="publication-link">
      <a href="{{ .Params.csl.URL }}" target="_blank">{{ .Params.csl.URL }}</a>
    </div>
    {{ end }}

    <div class="article-content">
      {{ .Content }}
    </div> 
    
    <h2>Records by feature</h2>
    
    {{ $slug := replace (replace (replace .Path "_index.md" "") "publication/" "") "/" "" }}
    {{ $records := where (where .Site.Pages "Type" "record") "Params.publications" "intersect" (slice $slug) }}
    
    {{ if $records }}
    
      {{ partial "records_by_feature" $records }}
      
      <h2>Parameters</h2>
      
      {{ $parameter_slugs := partial "record_parameters" $records }}
      {{ $parameters := where .Site.Pages "RelPermalink" "in" $parameter_slugs }}
      
      {{ partial "parameter_list" $parameters}}
      
    {{ else }}
      {{ partial "empty_list" "records" }}
    {{ end }}
    
  </article>

</main>

{{ partial "footer.html" . }}
